/* Google Fonts for Original Surfer and Petrona & Rubik*/
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Petrona&family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* The overflow-x: hidden; code messes up the depiction of the quotes! */
  /* overflow-x: hidden; */
}



/* Footer Grid */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "a a a a a"
    "b c d e f"
    "g g g g g";

    /* Tropical White */
    background: #F2F0DB;
}

.footer__first-row {
  grid-area: a;

  height: 110px;

  border-bottom: 2px solid black;
}

.footer__first-row img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer__second-row__first-section {
  grid-area: b
}

.footer__second-row__second-section {
  grid-area: c
}

.footer__second-row__third-section {
  grid-area: d
}

.footer__second-row__fourth-section {
  grid-area: e
}

.footer__second-row__fifth-section {
  grid-area: f
}

.footer__last-row {
  grid-area: g;

  font-family: 'Rubik', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  /* Text-Gray */
  color: #808080;
}


/* Footer Miscellaneous CSS */
footer div {
  padding: 5px 0;
}

/* Padding-Left for all Text */
ul {
  list-style-type: none;
  padding-left: 15px;
}

.footer__last-row div {
  padding-left: 15px;
}

.footer__second-row__first-section, .footer__second-row__second-section, .footer__second-row__third-section, .footer__second-row__fourth-section, .footer__second-row__fifth-section {
  font-family: 'Petrona', 'serif';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;

  /* Tropical Blue */
  color: #1155D4;
}
