<!-- Mobile Breakpoint to decrease font size OR Home | About | Mission | Contact Us alternate Sitemap -->

<footer>
  <div class="footer__first-row">
    <!-- Logo created with LogoMakr.com, a free logo maker. -->
    <img src="assets/images/LogoMakr-Rendezvous.png"/>
  </div>
  <div class="footer__second-row__first-section">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Mission Statement</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div class="footer__second-row__second-section">
    <ul>
      <li>Destination</li>
      <li>Schedule</li>
      <li>Book a Flight</li>
      <li>More...</li>
    </ul>
  </div>
  <div class="footer__second-row__third-section">
    <ul>
      <li>Costs</li>
      <li>Budget</li>
      <li>Calculator</li>
      <li>More...</li>
    </ul>
  </div>
  <div class="footer__second-row__fourth-section">
    <ul>
      <li>Checklist</li>
      <li>Help</li>
      <li>Track your Pack</li>
      <li>More...</li>
    </ul>
  </div>
  <div class="footer__second-row__fifth-section">
    <ul>
      <li>Staff</li>
      <li>CEO</li>
      <li>CFO</li>
      <li>Employees</li>
    </ul>
  </div>
  <div class="footer__last-row">
    <div>Copyright © 2021. All rights reserved. This is not a real website or company. This is just a portfolio website.</div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/wanicon" title="wanicon">wanicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</footer>
