<mat-toolbar class="original-surfer material-light-blue">

    <!-- Logo created with LogoMakr.com, a free logo maker. -->
    <img src="assets/images/LogoMakr-Rendezvous.png"/>
    <ul>
      <!-- <li>Vacation Planner</li> -->
      <li *ngIf="!mobileSize">Destinations</li>
      <li *ngIf="!mobileSize">Costs</li>
      <li *ngIf="!mobileSize">Checklist</li>
    </ul>
</mat-toolbar>


<app-header-mobile *ngIf="mobileSize"></app-header-mobile>

<app-header-desktop *ngIf="!mobileSize"></app-header-desktop>

