<mat-toolbar class="original-surfer material-light-blue">
    <ul>
      <li>Vacation Planner</li>
      <li *ngIf="!mobileSize">Destinations</li>
      <li *ngIf="!mobileSize">Costs</li>
      <li *ngIf="!mobileSize">Checklist</li>
    </ul>
</mat-toolbar>

<mat-tab-group animationDuration="0ms" class="centered-mat-tab">
    <mat-tab>
      <!-- NgTemplate for complex mat-tab label https://stackoverflow.com/questions/52325669/angular-material-tab-add-image-to-button -->
      <ng-template mat-tab-label>

        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          <p>Home</p>
        </div>

      </ng-template>
      <app-home></app-home>
    </mat-tab>
    <mat-tab *ngIf="!mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example emoji_transportation icon">emoji_transportation</mat-icon>
          <p>Destinations</p>
        </div>
      </ng-template>
      <app-destination></app-destination>
    </mat-tab>
    <mat-tab *ngIf="!mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example emoji_transportation icon">calculate</mat-icon>
          <p>Expenses</p>
        </div>

      </ng-template>
      <app-costs></app-costs>
    </mat-tab>
    <mat-tab *ngIf="!mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>

        <div>
          <mat-icon aria-hidden="false" aria-label="Example emoji_transportation icon">luggage</mat-icon>
          <p>Supplies</p>
        </div>

      </ng-template>
      <app-checklist></app-checklist>
    </mat-tab>
    <!-- <mat-tab label="Travel Destinations" *ngIf="!mobileSize" class="desktop-size-only">
      <app-destination></app-destination>
    </mat-tab>
    <mat-tab label="Travel Expenses" *ngIf="!mobileSize" class="desktop-size-only">
      <app-costs></app-costs>
    </mat-tab>
    <mat-tab label="Travel Supplies" *ngIf="!mobileSize" class="desktop-size-only">
      <app-checklist></app-checklist>
    </mat-tab> -->


    <mat-tab label="Travel Destinations" *ngIf="mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'font-size': mobileSize ? '200%' : '100%'}" aria-hidden="false" aria-label="Example emoji_transportation icon">emoji_transportation</mat-icon>
      </ng-template>
      <app-destination></app-destination>
    </mat-tab>

    <mat-tab label="Travel Expenses" *ngIf="mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'font-size': mobileSize ? '200%' : '100%'}" aria-hidden="false" aria-label="Example calculate icon">calculate</mat-icon>
      </ng-template>
      <app-costs></app-costs>
    </mat-tab>

    <mat-tab label="Travel Supplies" *ngIf="mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'font-size': mobileSize ? '200%' : '100%'}" aria-hidden="false" aria-label="Example luggage icon">luggage</mat-icon>
      </ng-template>
      <app-checklist></app-checklist>
    </mat-tab>
</mat-tab-group>
