/* Google Fonts for Original Surfer and Petrona */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Petrona&display=swap');


/* Sticky toolbar */
mat-toolbar {
  position: sticky;

  top: 0;
  left: 0;

  /* Make sure content cannot be seen behind toolbar. */
  z-index: 96;
  height: 127px;
}


/* Flex Navbar Ul Li: code from my 1st Project - Deluge Delights Restaurant */
mat-toolbar {
  /* Format li links. */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  border-bottom: 1px solid 1155D4;
}

mat-toolbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

mat-toolbar ul li {
  padding: 0 15px;

  border-style: solid;
  border-color: white;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;

  font-family: 'Original Surfer', 'cursive';
  font-size: 24px;

  color: white;
  /* Tropical Blue */
  /* color: #1155D4; */
}

.img-desktop {
  position: absolute;
  left: 5px;
}

.img-mobile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/* mat-toolbar ul li:first-of-type {
  position: absolute;
  left: 10px;
}

mat-toolbar ul li:first-of-type, mat-toolbar ul li:last-of-type {
  border: 0px;
} */


/* Colors + Fonts for toolbar */
.original-surfer {
  font-family: 'Original Surfer', cursive;
  background-color: lightskyblue;
}

/* .material-light-blue {
  background-color: #2196F3;
} */
