<mat-toolbar class="original-surfer material-light-blue">
  Vacation Planner
</mat-toolbar>

<mat-tab-group animationDuration="0ms" class="centered-mat-tab">
    <mat-tab>
      <!-- NgTemplate for complex mat-tab label https://stackoverflow.com/questions/52325669/angular-material-tab-add-image-to-button -->
      <ng-template mat-tab-label>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </ng-template>
      <app-home></app-home>
    </mat-tab>
    <mat-tab *ngIf="!mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <span class="mat-tab-label">Travel Destinations</span>
      </ng-template>
      <app-destination></app-destination>
    </mat-tab>
    <mat-tab *ngIf="!mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <span class="mat-tab-label">Travel Expenses</span>
      </ng-template>
      <app-costs></app-costs>
    </mat-tab>
    <mat-tab *ngIf="!mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <span class="mat-tab-label">Travel Supplies</span>
      </ng-template>
      <app-checklist></app-checklist>
    </mat-tab>
    <!-- <mat-tab label="Travel Destinations" *ngIf="!mobileSize" class="desktop-size-only">
      <app-destination></app-destination>
    </mat-tab>
    <mat-tab label="Travel Expenses" *ngIf="!mobileSize" class="desktop-size-only">
      <app-costs></app-costs>
    </mat-tab>
    <mat-tab label="Travel Supplies" *ngIf="!mobileSize" class="desktop-size-only">
      <app-checklist></app-checklist>
    </mat-tab> -->


    <mat-tab label="Travel Destinations" *ngIf="mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <mat-icon aria-hidden="false" aria-label="Example aspect_ratio icon">aspect_ratio</mat-icon>
      </ng-template>
    </mat-tab>

    <mat-tab label="Travel Expenses" *ngIf="mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <mat-icon aria-hidden="false" aria-label="Example aspect_ratio icon">aspect_ratio</mat-icon>
      </ng-template>
    </mat-tab>

    <mat-tab label="Travel Supplies" *ngIf="mobileSize" class="desktop-size-only">
      <ng-template mat-tab-label>
        <mat-icon aria-hidden="false" aria-label="Example aspect_ratio icon">aspect_ratio</mat-icon>
      </ng-template>
    </mat-tab>
</mat-tab-group>
