@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

/* :root {
  --border-black: rgba(0,0,0,0.3);
  --disclaimer-wood: rgb(193, 154, 107);
  --menu-card: rgba(193, 154, 107, 0.7);
  --nature-dark-green:  rgb(112, 139, 54);
  --nature-green: rgb(145, 178, 71);
  --nature-transparent-green: rgba(145, 178, 71, 0.9);
  --nature-light-green: rgba(145, 178, 71, 0.65);
  --waterfall-blue: #169deb;
  --waterfall-light-blue: rgb(0, 140, 255);
  --waterfall-lighter-blue: rgba(0, 140, 255, 0.5);
} */

/* * {
  background-color: rgb(157, 189, 189);
} */

/* Flex Navbar code from my 1st Project - Deluge Delights Restaurant */
mat-toolbar {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

mat-toolbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

mat-toolbar ul li:first-of-type {
  position: absolute;
  left: 10px;
}

mat-toolbar ul li {
  padding: 0 10px;
}



.original-surfer {
  font-family: 'Original Surfer', cursive;
  color: white;
}

.material-light-blue {
  background-color: #2196F3;
}

.centered-mat-tab {
  position: relative;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

mat-tab-group {
  color: blue;
}

mat-icon {
  color: purple;
}

.mat-tab-label {
  color: blue;
  font-weight: 600;
  /* font-family: 'Roboto Condensed', sans-serif; */
}

