<article id="home-cards">
  <mat-card>
    <div>
      <span class="material-icons">emoji_transportation</span>
      <mat-card-title>Destinations</mat-card-title>
      <mat-card-subtitle>Schedule your journey.</mat-card-subtitle>
    </div>
    <img src="{{imgPath}}/animat-essential/image/animat-image-color.gif" alt="Image Animaticon">
    <section>
      <ul>
        <li>Having trouble organizing your dream vacation?</li>
        <li>Rest easy with your new Vacation Planner!</li>
        <li>Schedule your journey to a distant land.</li>
        <li>Choose your ideal location for your surreal vacation.</li>
      </ul>
    </section>
  </mat-card>

  <mat-card>
    <div>
      <span class="material-icons">calculate</span>
      <mat-card-title>Expenses</mat-card-title>
      <mat-card-subtitle>Record your finances.</mat-card-subtitle>
    </div>
    <img src="{{imgPath}}/animat-essential/diamond/animat-diamond-color.gif" alt="Diamond Animaticon">
    <section>
      <ul>
        <li>Bills can add up.</li>
        <li>Divide and conquer.</li>
        <li>Make sure your finances are in order.</li>
        <li>Avoid financial stress on your vacation.</li>
      </ul>
    </section>
  </mat-card>

  <mat-card>
    <div>
      <span class="material-icons">luggage</span>
      <mat-card-title>Supplies</mat-card-title>
      <mat-card-subtitle>Mind your belongings.</mat-card-subtitle>
    </div>
    <img src="{{imgPath}}/animat-essential/rocket/animat-rocket-color.gif" alt="Rocket Animaticon">
    <section>
      <ul>
        <li>Keep track of your pack.</li>
        <li>Organize your belongings.</li>
        <li>Never forget what you need to bring.</li>
        <li>Going somewhere? Make sure your belongings go with you.</li>
      </ul>
    </section>

  </mat-card>
</article>
