<article id="home-cards">
  <div>
    <div>
      <div class="material-icons">emoji_transportation</div>
      <h2>Destinations</h2>
      <p>Schedule your journey.</p>
    </div>
    <img src="{{imgPath}}/animat-essential/image/animat-image-color.gif" alt="Image Animaticon">
    <section>
      <ul style="color: red;">
        <li>Having trouble organizing your dream vacation?</li>
        <li>Rest easy with your new Vacation Planner!</li>
        <li>Schedule your journey to a distant land.</li>
        <li>Choose your ideal location for your surreal vacation.</li>
      </ul>
    </section>
  </div>

  <div>
    <div>
      <div class="material-icons">calculate</div>
      <h2>Expenses</h2>
      <p>Record your finances.</p>
    </div>
    <img src="{{imgPath}}/animat-essential/diamond/animat-diamond-color.gif" alt="Diamond Animaticon">
    <section>
      <ul style="color: red;">
        <li>Bills can add up.</li>
        <li>Divide and conquer.</li>
        <li>Make sure your finances are in order.</li>
        <li>Avoid financial stress on your vacation.</li>
      </ul>
    </section>
  </div>

  <div>
    <div>
      <div class="material-icons">luggage</div>
      <h2>Supplies</h2>
      <p>Mind your belongings.</p>
    </div>
    <img src="{{imgPath}}/animat-essential/rocket/animat-rocket-color.gif" alt="Rocket Animaticon">
    <section>
      <ul style="color: red;">
        <li>Keep track of your pack.</li>
        <li>Organize your belongings.</li>
        <li>Never forget what you need to bring.</li>
        <li>Going somewhere? Make sure your belongings go with you.</li>
      </ul>
    </section>

  </div>
</article>
