<article id="home-cards">
  <mat-card>
    <!-- Photo by Thorsten technoman from Pexels -->
    <img src="{{imgPath}}/paris-france.jpg" alt="Paris, France."/>

    <div>
      <span class="material-icons">emoji_transportation</span>
      <mat-card-title>Destinations</mat-card-title>
      <mat-card-subtitle>Schedule your journey.</mat-card-subtitle>
    </div>

    <section class="home-cards__description">
      <p>Plan your schedule and choose your ideal vacation with Rendezvous’ help!</p>
      <!-- <ul>
        <li>Having trouble organizing your dream vacation?</li>
        <li>Rest easy with your new Vacation Planner!</li>
        <li>Schedule your journey to a distant land.</li>
        <li>Choose your ideal location for your surreal vacation.</li>
      </ul> -->
    </section>

  </mat-card>

  <mat-card>

    <!-- Photo by Samson Katt from Pexels -->
    <img src="{{imgPath}}/ticket-machine.jpg" alt="Withdrawing vacation funds from a bank."/>

    <div>
      <span class="material-icons">calculate</span>
      <mat-card-title>Expenses</mat-card-title>
      <mat-card-subtitle>Record your finances.</mat-card-subtitle>
    </div>

    <section class="home-cards__description">
      <p>Are you over your emergency expenses! Make sure to check your budget!</p>
      <!-- <ul>
        <li>Bills can add up.</li>
        <li>Divide and conquer.</li>
        <li>Make sure your finances are in order.</li>
        <li>Avoid financial stress on your vacation.</li>
      </ul> -->
    </section>
  </mat-card>

  <mat-card>

    <!-- Photo by Element5 Digital from Pexels -->
    <img src="{{imgPath}}/vacation-checklist.jpg" alt="Map picture."/>

    <div>
      <span class="material-icons">luggage</span>
      <mat-card-title>Supplies</mat-card-title>
      <mat-card-subtitle>Mind your belongings.</mat-card-subtitle>
    </div>

    <section class="home-cards__description">
      <p>Keep track of your pack! Never miss another amenity thanks to our interactive checklist!</p>
      <!-- <ul>
        <li>Keep track of your pack.</li>
        <li>Organize your belongings.</li>
        <li>Never forget what you need to bring.</li>
        <li>Going somewhere? Make sure your belongings go with you.</li>
      </ul> -->
    </section>

  </mat-card>
</article>
