<section id="mobile-only-destination-component" class="datepicker-and-select-form">

  <form class="schedule-your-retreat">

    <h3 class="vacation-heading"><span class="material-icons">departure_board</span><span>Schedule your Retreat</span></h3>

    <!-- https://material.angular.io/components/datepicker/overview -->
    <mat-form-field appearance="fill">
      <mat-label *ngIf="!start_date">Example: 1/20-1/25</mat-label>
      <mat-label *ngIf="start_date">Schedule your days off!</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" [ngModel]="start_date" (ngModelChange)="startDateChanged.next($event)" name="start_date">
        <input matEndDate placeholder="End date" [ngModel]="end_date" (ngModelChange)="endDateChanged.next($event)" name="end_date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <!-- Dream Island by Icons 8 at https://icons8.com/ -->
    <!-- <img src="my-app/src/app/images/dream-island.png" alt="Dream island vacation."/> -->

  </form>

  <mat-divider></mat-divider>

  <form class="start-your-vacation">

    <h3 class="vacation-heading" *ngIf="(!departure_point && !destination) || (departure_point && !destination || !departure_point && destination)"><span class="material-icons">local_see</span><span>Start your Vacation!</span></h3>
    <h3 class="vacation-heading" *ngIf="departure_point && destination"><span class="material-icons">local_see</span><span>Start your Vacation from {{ departure_point }} to {{ destination }}!</span></h3>

    <div class="choose-your-vacation-location" appearance="standard" >
      <mat-label *ngIf="!departure_point">Depart from...</mat-label>
      <mat-label *ngIf="departure_point" for="departure">Depart from {{ departure_point }} </mat-label>
      <input type="text" required [ngModel]="departure_point" (ngModelChange)="departurePointChanged.next($event)" name="departure_point">
    </div>

    <div class="choose-your-vacation-location">
      <mat-label *ngIf="!destination">Arrive at...</mat-label>
      <mat-label *ngIf="destination" for="arrival">Arrive at {{ destination }} </mat-label>
      <input type="text" required [ngModel]="destination" (ngModelChange)="destinationChanged.next($event)" name="destination">
    </div>

  </form>

  <mat-divider></mat-divider>

  <!-- Mat Selection List = https://material.angular.io/components/list/examples -->
  <form class="datepicker">

    <h3 class="vacation-heading"><span class="material-icons">menu_book</span><span>Customize your Retreat</span></h3>

    <div class="example-action-buttons">
      <button (click)="accordion.openAll()">Expand All</button>
      <button (click)="accordion.closeAll()">Collapse All</button>
    </div>

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let group of vacationGroups">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="material-icons">
              <!-- {{ group.iconName }} -->
              home
            </span>
            <p>{{ group.name }}</p>
          </mat-panel-title>
          <mat-panel-description>
            <p *ngIf="vacations.selectedOptions.selected[0]?.value" [ngStyle]="{'color': ((vacations.selectedOptions.selected[0]?.value === 'At-Risk') || (vacations.selectedOptions.selected[0]?.value === 'Sick')) ? 'red' : 'green'}">
              {{ vacations.selectedOptions.selected[0]?.value }}
            </p>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-selection-list #vacations [multiple]="false">
          <p *ngIf="!vacations.selectedOptions.selected[0]?.value">Please select one.</p>
          <mat-list-option *ngFor="let vacation of group.vacation" [value]="vacation.viewValue">
            {{ vacation.viewValue }}
          </mat-list-option>
        </mat-selection-list>

      </mat-expansion-panel>
  </mat-accordion>

</form>

</section>
