  @import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Petrona&family=Rubik&display=swap');

  /* Mobile Component */

  h1 {
    /* Landing-Page <h1> Mobile */

  font-family: 'Original Surfer', 'cursive';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #000000;

  }

  h3 {
    /* Dest & Costs Mobile Label */

  font-family: 'Petrona', 'serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */


  color: #000000;
  }

  .destination-img {
    width: 197px;
    height: 195px;
  }

/* Flaticons Sizing */

.accordion-flaticon {
  width: 45px;
  height: 40px;
}

  .datepicker-and-select-form {
    background-color: white;
  }

  .datepicker {
    padding-bottom: 20px;
  }


  /* Colors + Fonts + Position + Padding */
  .vacation-heading {
    /* font-family: 'Merienda', cursive; */

    position: relative;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  }



  /* Give Icon some padding-right. */
  .vacation-heading span:first-of-type {
    padding-right: 7px;
  }


  .choose-your-vacation-location {
    padding: 0 10px;
  }


  /* Border only under text = https://stackoverflow.com/questions/16399232/restrict-border-width-to-text-width-in-a-block-element */
  /* .vacation-heading span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    text-decoration: underline;
  } */

  form {
    padding-left: 20px;
    /* margin-top: 40px; */
    margin: 40px 35px 0 35px;
  }



  /* Angular Material Colors + Fonts */
  mat-form-field {
    color: black;
  }

  mat-form-field mat-label {
    color: black;
    /* font-family: 'Roboto Condensed', sans-serif; */
  }

  /* mat-date-range-input input {
    color: greenyellow;
  } */

  mat-datepicker-toggle {
    color: black;
  }

  /* mat-date-range-picker {
    color: green;
  } */
