main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.completion-bar {
  width: 400px;
  height: 20px;
  background-color: gray;
}

.progress-bar {

  width: 150px;
  height: 20px;
  background-color: green;
}
