/* * {
  background-color: rgb(157, 189, 189);
} */

/* main {
  margin-bottom: 20px;
  display: flex;
} */

main {
  /* Use ../../assets/images/____ = https://github.com/angular/angular-cli/issues/12797 */
  background-image: url('../../assets/images/beach.jpg');
}

.datepicker-and-select-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 300px;

  background-color: white;
}

.schedule-your-retreat {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.start-your-vacation {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
}

.datepicker {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

/* .vacation-selector {
  width: 256px;
} */

.vacation-heading {
  color: purple;
  font-family: 'Merienda', cursive;

  position: relative;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

/* Give Icon some padding-right. */
.vacation-heading span:first-of-type {
  padding-right: 7px;
}


.choose-your-vacation-location {
  padding: 0 10px;
}


/* Border only under text = https://stackoverflow.com/questions/16399232/restrict-border-width-to-text-width-in-a-block-element */
/* .vacation-heading span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  text-decoration: underline;
} */

form {
  padding-left: 20px;
  /* margin-top: 40px; */
  margin: 40px 35px 0 35px;
}

.start-your-vacation-and-return-trip {
  display: flex;
}

mat-form-field {
  color: blue;
}

mat-form-field mat-label {
  color: blue;
  font-family: 'Roboto Condensed', sans-serif;
}

/* mat-date-range-input input {
  color: greenyellow;
} */

mat-datepicker-toggle {
  color: purple;
}

/* mat-date-range-picker {
  color: green;
} */
