.vacation-heading {
  color: violet;
  font-family: 'Cookie', cursive;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

form {
  padding-left: 20px;
  padding-top: 20px;
}

mat-form-field {
  color: blue;
  margin-right: 40px;
}

mat-form-field mat-label {
  color: blue;
}

/* mat-date-range-input input {
  color: greenyellow;
} */

mat-datepicker-toggle {
  color: purple;
}

/* mat-date-range-picker {
  color: green;
} */
