.vacation-heading {
  color: purple;
  font-family: 'Merienda', cursive;
  border-bottom: 2px;
  border-color: purple;
  border: solid;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

form {
  padding-left: 20px;
  margin-top: 40px;
}

mat-form-field {
  color: blue;
  margin-right: 40px;
}

mat-form-field mat-label {
  color: blue;
  font-family: 'Roboto Condensed', sans-serif;
}

/* mat-date-range-input input {
  color: greenyellow;
} */

mat-datepicker-toggle {
  color: purple;
}

/* mat-date-range-picker {
  color: green;
} */
