<!-- https://material.angular.io/components/datepicker/overview -->

<form>

  <h3>Enter a Date Range for your Vacation</h3>

  <mat-form-field appearance="fill">
    <mat-label *ngIf="!userInput">Example: 1/20-1/25</mat-label>
    <mat-label *ngIf="userInput"></mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" [ngModel]="start_date" (ngModelChange)="startDateChanged.next($event)" name="start_date">
      <input matEndDate placeholder="End date" [ngModel]="end_date" (ngModelChange)="endDateChanged.next($event)" name="end_date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

</form>


<form>

  <mat-form-field appearance="standard" >
     <mat-label for="departure">Depart from {{ departure_point }} </mat-label>
     <input type="text" required matInput name="">
  </mat-form-field>

  <mat-form-field>
     <mat-label for="arrival">Arrive at {{ destination }} </mat-label>
     <input type="text" required matInput name="">
  </mat-form-field>

</form>


<form (ngSubmit)="onReturn()" #returnForm="ngForm">

  <mat-form-field appearance="standard" >
    <mat-label for="return_via">Depart from {{ return_via }} </mat-label>
    <input type="text" required matInput name="">

  </mat-form-field>

  <mat-form-field>

    <mat-label for="return_point">Arrive at {{ return_point }} </mat-label>
    <input type="text" required matInput name="">

  </mat-form-field>

</form>
