/* Google Fonts for Original Surfer and Petrona & Rubik*/
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Petrona&family=Rubik&display=swap');

h1 {

  /* LanDing-Page <h1> */
  font-family: 'Original Surfer', 'cursive';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  /* identical to box height */

  color: #000000;
  text-align: center;

}

h3 {
  color: black;
}

.destination-img {
  width: 200px;
  height: 184px;
}

.accordion-flaticon {
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

mat-expansion-panel {
  width: 700px;
}


/* Center the Desktop-Only Horizontal Stepper */
#desktop-only-destination-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "a b"
    "c c";
}


/* Datepicker Form */
.datepicker {
  padding-bottom: 20px;
}


/* Colors + Fonts + Position + Padding */
.vacation-heading {
  /* font-family: 'Merienda', cursive; */

  position: relative;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}



/* Give Icon some padding-right. */
.vacation-heading span:first-of-type {
  padding-right: 7px;
}


.choose-your-vacation-location {
  padding: 0 10px;
}


/* Border only under text = https://stackoverflow.com/questions/16399232/restrict-border-width-to-text-width-in-a-block-element */
/* .vacation-heading span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  text-decoration: underline;
} */


/* White Background-Color */
form {
  padding-left: 20px;
  /* margin-top: 40px; */
  margin: 40px 35px 0 35px;
  background-color: white;
}


/* Angular Material Colors + Fonts */
mat-form-field {
  color: black;
}

mat-label {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

/* mat-date-range-input input {
  color: greenyellow;
} */

mat-datepicker-toggle {
  color: black;
}

/* mat-date-range-picker {
  color: green;
} */

mat-accordion {
  width: 90%;
}


mat-expansion-panel-header {
  position: relative;
}

/* Panel's Title */
mat-panel-title {
  /* Dest Checklist Category */

  font-family: 'Petrona', 'serif';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  /* Tropical Brown */
  color: #A95012;

  /* Since panel-header is relative, absolute will use panel-header as the reference point to move down 50% + move up based on 50% of the title's height. */
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
}

/* Chip around Panel's Description */
mat-panel-description p {
  /* border: 1px solid #0000FF; */
  box-sizing: border-box;
  border-radius: 50px;

  position: relative;
  top: 4px;
}


/* Petrona font for Accordion Select Options */
mat-list-option {
  font-family: 'Petrona', 'serif';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;

  color: #000000;
}

/* Mat-List-Single-Selected-Option, courtesy of Chrome Dev Tools */
.mat-list-single-selected-option {
  background-color: lightskyblue;
}


/* Accordion's Height should be Figma Design Height */
mat-expansion-panel-header {
  height: 60px;
  /* height: 128px;
  width: 100%; */

  /* display: flex;
  flex-direction: column; */
}
