/* Google Fonts for Original Surfer */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


/* READ THIS - DO NOT CHANGE */
/* The mat-tab-category-name & Mat-Icon are NOT using default Angular Material positioning.*/
/* Both the mat-tab-category-name and mat-icon are absolutely positioned because the Mat-Tabs will not allow their default heights to be changed. */
.mat-tab-category-name {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  /* right: 0; */
}

mat-icon {
  position: absolute;
  bottom: 22px;
  right: 67px;
}



/* Format Mat Tabs - https://github.com/angular/components/issues/10141 & https://stackoverflow.com/questions/50722183/angular-material-tab-height */
ng-template {
  padding-top: 20px;
}

ng-template div {
  display: flex;
  flex-direction: column;
}



/* Colors + Fonts for toolbar */
mat-tab-group {
  color: blue;
  display: flex;
}

mat-icon {
  color: purple;
}

.mat-tab-label {
  color: blue;
  font-weight: 600;
  /* font-family: 'Roboto Condensed', sans-serif; */
}
