<!-- Desktop Only tabs -->
 <!-- NgTemplate for complex mat-tab label https://stackoverflow.com/questions/52325669/angular-material-tab-add-image-to-button -->
<mat-tab-group>
 <mat-tab>

  <ng-template mat-tab-label>

    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <p class="mat-tab-category-name">Home</p>
    </div>

  </ng-template>
  <app-home></app-home>
</mat-tab>
<mat-tab label="Travel Destinations" class="desktop-size-only">

  <ng-template mat-tab-label>
    <div>
      <mat-icon aria-hidden="false" aria-label="Example emoji_transportation icon">emoji_transportation</mat-icon>
      <p class="mat-tab-category-name">Destinations</p>
    </div>
  </ng-template>

  <app-destination></app-destination>
</mat-tab>
<mat-tab label="Travel Expenses" class="desktop-size-only">

  <ng-template mat-tab-label>
    <div>
      <mat-icon aria-hidden="false" aria-label="Example emoji_transportation icon">calculate</mat-icon>
      <p class="mat-tab-category-name">Expenses</p>
    </div>

  </ng-template>
  <app-costs></app-costs>
</mat-tab>


<mat-tab label="Travel Supplies" class="desktop-size-only">
  <ng-template mat-tab-label>

    <div>
      <mat-icon aria-hidden="false" aria-label="Example emoji_transportation icon">luggage</mat-icon>
      <p class="mat-tab-category-name">Supplies</p>
    </div>

  </ng-template>
  <app-checklist></app-checklist>
</mat-tab>

</mat-tab-group>
