/* Google Fonts for Original Surfer and Petrona & Rubik*/
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Petrona&family=Rubik&display=swap');

h1 {
  /* LanDing-Page <h1> */

  font-family: 'Original Surfer', 'cursive';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  /* identical to box height */


  color: #000000;
}

h3 {
  /* Dest & Costs & Checklist Label */

  font-family: 'Petrona', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height */


  color: #808080;
}

h1, h3 {
  text-align: center;
}

/* Flaticon styling */
img {
  width: 60px;
  height: 60px;
}

.checklist {
  margin: 0 20px;
}

.desktop-centered-checklist-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  /* min-height: 100vh; */
}


form {
  padding-top: 20px;
  padding-left: 20px;

  /* margin-bottom: 20px; */
  /* min-height: 100vh; */
}


/* Make sure mat-accordion has NO background. Everything else can be background-color: white; */

/* ng-template icons styling */
ng-template div {
  display: flex;
}

mat-tab-group {
  height: 500px;
  margin-top: 10px;
}


form {
  padding-top: 40px;
}

/* READ THIS - DO NOT CHANGE */
/* The mat-tab-category-name & Mat-Icon are NOT using Angular Material positioning.*/
/* The Mat-Icon is positioned 19px absolutely above the name. It is moved from the right 67px to "center" it. */
.mat-tab-category-name {
  /* position: absolute; */
  bottom: 3px;
  left: 0;
  right: 0;
  /* right: 0; */

  /* Dest Checklist Category */

  font-family: 'Petrona', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 47px;

  /* Green 1 */

  /* color: #219653; */
}

mat-icon {
  position: absolute;
  bottom: 22px;
  right: 67px;
}


/* Every other mat-tab-group & its checklist sections will be the same color. */
/* mat-tab-group:nth-child(odd), mat-tab-group:nth-child(odd) section {
  background-color: blue;
}

mat-tab-group:nth-child(even), mat-tab-group:nth-child(even) section {
  background-color: green;
} */



/* Mat-Tabs white background - Desktop */
.checkbox-header, div, section {
  background-color: white;
}


section {
  padding: 0 10px;
}

#desktop-tabs-only {
  border-radius: 5px;
}

/* Mat-Accordion Grid if desktop's size > 1000px */
/* .checklist-form__grid-list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
} */




/* Mat-Panel Title */
mat-panel-title span {
  padding-right: 10px;
}

mat-panel-title {
  color: black;
}


/* Category Name (Essentials, Airport, Clothes, Electronic, Health) */
.checkbox-category-name {
  padding-left: 5px;
  font-size: 120%;
}

ul {
  list-style-type: none;
}



/* Checkboxes to click within each Category */
.subcategory-checkbox {
  color: green;
}

mat-checkbox {
  /* Dest & Costs & Checklist Label */

  font-family: 'Petrona', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;

  color: #000000;

}

/* deep-purple.amber.css has the following default font style for mat-checkbox:
  .mat-checkbox {
      font-family: Roboto, "Helvetica Neue", sans-serif;
  }
*/
