<!-- 5 Tabs if width > 1000px -->

<h1>You have 19 more items to pack.</h1>
<h3>Click on the checklist to tally up your belongings.</h3>

<form id="desktop-tabs-only" class='desktop-centered-checklist-form'>

  <div *ngFor="let item of items">

      <div class="checkbox-header">
        <img src="{{flaticonPath}}/{{item.flaticon}}.svg" alt=""/>
        <span class="material-icons">{{ item.iconName }}</span>
        <span class="mat-tab-category-name">{{ item.name }}</span>
      </div>


      <section>
        <ul>
          <li *ngFor="let subcategory of item.subcategories">
            <mat-checkbox class="subcategory-checkbox">{{ subcategory }}</mat-checkbox>
          </li>
        </ul>
      </section>

  </div>

</form>
