<form [ngStyle]="{'display': mobileSize ? '' : 'flex'}">

  <!-- 1. You have ___ tasks remaining. -->

  <!-- 2. Display Checkboxes -->
  <section *ngFor="let item of items">
    <div class="category-checkbox">
      <span class="material-icons">
        {{ item.iconName }}
      </span>
      <span class="checkbox-category-name">{{ item.name }}</span>
    </div>
      <ul>
        <li *ngFor="let subcategory of item.subcategories">
          <mat-checkbox class="subcategory-checkbox">{{ subcategory }}</mat-checkbox>
        </li>
      </ul>
  </section>
</form>

<!-- <span *ngIf="updated">Checklist has been updated.</span>
<span *ngIf="failed">Checklist has not been updated. Please wait 1 second and try again.</span> -->
