form {
  color: purple;
  padding-top: 20px;
  padding-left: 20px;
}

section {
  color: blue;
}


.category-checkbox {
  color: red;
}


ul {
  list-style-type: none;
}

li {
  color: green;
}

.subcategory-checkbox {
  color: violet;
}
