form {
  color: purple;
  padding-top: 20px;
  padding-left: 20px;
}

section {
  color: blue;
}

.category-checkbox {
  color: red;
}

.checkbox-category-name {
  padding-left: 5px;
  font-size: 120%;
}

ul {
  list-style-type: none;
}

li {
  color: green;
}

.subcategory-checkbox {
  color: violet;
}

/* deep-purple.amber.css has the following default font style for mat-checkbox:
  .mat-checkbox {
      font-family: Roboto, "Helvetica Neue", sans-serif;
  }
*/
