<main>
  <!-- Angular Material - Expansion Panel = https://material.angular.io/components/expansion/examples -->

  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>


  <!-- 5 Accordions if width > 1000px -->

  <form *ngIf="desktopSize === 'desktop'" class='desktop-centered-checklist-form'>

    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let item of items" class='checklist-form__grid-list'>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons"> {{ item.iconName }}</span>
              <p>{{ item.name }}</p>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <section>
            <ul>
              <li *ngFor="let subcategory of item.subcategories">
                <mat-checkbox class="subcategory-checkbox">{{ subcategory }}</mat-checkbox>
              </li>
            </ul>
          </section>
        </mat-expansion-panel>
    </mat-accordion>

  </form>


  <!-- 1 Accordion if width <= 1000px; -->
  <form *ngIf="desktopSize === 'tablet'" [ngClass]="{'desktop-centered-checklist-form': mobileSize === false}">

    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let item of items">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons"> {{ item.iconName }}</span>
              <p>{{ item.name }}</p>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <section>
            <ul>
              <li *ngFor="let subcategory of item.subcategories">
                <mat-checkbox class="subcategory-checkbox">{{ subcategory }}</mat-checkbox>
              </li>
            </ul>
          </section>
        </mat-expansion-panel>
    </mat-accordion>

  </form>

</main>
