@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* https://angular.io/guide/forms */
/* .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
} */

.costs-form {
  color: purple;
}

.costs-form__grid-list {
  color: green;
}

.costs-form__grid-list__grid-tile {
  color: red;
}

.costs-form___form-field {
  color: lightblue;
}

.costs-form__form-field mat-label {
  color: orange;
}

.costs-form__form-field input {
  color: yellow;
}

.costs-form__submit-btn {
  color: pink;
}

.if-costs-updated {
  color: blue;
}

.if-costs-failed {
  color: red;
}

.total-cost {
  color: lightsalmon;
}
