<!-- ngFor keyvalue pipe = https://stackoverflow.com/questions/41396435/how-to-iterate-object-keys-using-ngfor/41396558 -->

<form (ngSubmit)="onSubmit()" #costsForm="ngForm">
  <mat-form-field *ngFor="let cost of costs | keyvalue" appearance="standard">
    <mat-label for="cost.key">{{ cost.key }}: <b>{{cost.value | currency: 'USD'}}</b></mat-label>
      <input type="number" required matInput [(ngModel)]="cost.value" name="cost.key" id="cost.key" placeholder="$0.00">
  </mat-form-field>
  <button type="submit" [disabled]="!costsForm.form.valid">Submit new cost.</button>
</form>

<span *ngIf="updated">Costs have been updated.</span>

<div>
  Total Cost = {{ totalCost }}.
</div>
