/* Angular Material Colors */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Google Fonts for Original Surfer and Petrona & Rubik*/
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Petrona&family=Rubik&display=swap');


/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* background-color: rgb(157, 189, 189); */
}


/* Vertical Spacing */

caption, mat-card, section, app-costs-modal {
  margin: 20px 0;
}


/* Grid for Mat-Card-Content */
mat-card-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
}

mat-card-content .costs-form__grid-list__grid-tile {
  margin: 5px 20px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


/* Edit your credit */
h1 {
  /* LanDing-Page <h1> */

  font-family: 'Original Surfer', 'cursive';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  /* identical to box height */


  color: #000000;
}

h3 {
  /* Dest & Costs & Checklist Label */

  font-family: 'Petrona', 'serif';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height */


  color: #808080;
}



/* Center all h1, h3, section with budget, Flaticon*/
h1, h3, .budget {
  text-align: center;
}

.flaticon_mobile, .flaticon_desktop, .calculate-total-cost {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.budget {

  /* Dest & Costs & Checklist Label */
  font-family: 'Petrona', 'serif';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height */


  /* Tropical Dark-Blue */

  color: #063581;

}

.calculate-total-cost {

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;

  /* Dest & Costs & Checklist Label */

  font-family: 'Petrona', 'serif';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height */


  color: #000000;

}

/* Background-Image */
main {
  /* Use ../../assets/images/____ = https://github.com/angular/angular-cli/issues/12797 */
  /* background-image: url('../../assets/images/beach.jpg'); */
}


/* Flaticon Sizing */
.flaticon_desktop {
  width: 75px;
  height: 75px;
}

.flaticon_mobile {
  width: 45px;
  height: 45px;
}


/* Background-Color */
.costs-form, mat-form-field, mat-card-header, mat-icon, mat-card-title, mat-card-subtitle, mat-card-content, mat-label, mat-card-actions, input {
  background-color: white;
}



/* Center a Div in the Center of the Screen = https://stackoverflow.com/questions/31217268/center-div-on-the-middle-of-screen */
.desktop-centered-costs-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  border-radius: 20px;
  padding: 15px;
}

.mat-card__desktop-size-only {
  /* Move div up by half its width. */

  /* Remove this code because it covers up the h3 & caption. */
  /* transform: translateY(-20%); */
}

/* Mat-Card-Content colors */
.costs-form {
  color: purple;
  padding: 0 10px;
}

.costs-form__grid-list {
  color: green;
}

.costs-form__grid-list__grid-tile {
  color: red;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  padding: 0 10px;
}

.costs-form___form-field {
  color: lightblue;
}


/* Form Label */
.costs-form__form-field mat-label {
  /* Tropical Brown */
  color: #A95012;
  font-size: 140%;
}


/* Form Icons */
.material-icons {
  padding-left: 7px;
  font-size: 160%;
}


/* Form Input */
.costs-form__form-field input {
  /* Tropical Brown */
  color: #A95012;
  font-size: 110%;
  margin-top: 10px;
}


/* Submit Button */
.costs-form__submit-btn {
  color: green;
  padding: 7px;
  background-color: white;
  border-color: green;
  border-radius: 2px;
  border-style: round;
}


/* Center Submit Button + Total Cost *ngIf */
.costs-form__submit-btn, .total-cost {
  position: relative;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.if-costs-updated {
  color: blue;
}

.if-costs-failed {
  color: red;
}

.total-cost {
  color: purple;
  padding: 7px;
  max-width: 150px;
}

.costs-form {
  margin-left: 20px;
}

/*
.total-cost, .costs-form__submit-btn, .if-costs-failed, .if-costs-updated {
  margin: 20px;
} */

.costs-form__grid-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* margin-left: 20px; */
  margin-top: 20px;

  /* This makes sure the grid does not expand to the full length of the page. */
  /* max-width: 50%; */
}


.costs-form__mobile-grid-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 20px;

  /* This makes sure the grid does not expand to the full length of the page. */
  /* max-width: 50%; */
}

