<!-- ngFor keyvalue pipe = https://stackoverflow.com/questions/41396435/how-to-iterate-object-keys-using-ngfor/41396558 -->

<main [ngClass]="{'desktop-centered-costs-form': mobileSize === false}">
  <section [ngClass]="{'mat-card__desktop-size-only' : desktopSize === 'desktop'}">
    <div class="header">
      <span class="material-icons">home</span>
      <h2>Financial Planner</h2>
      <p>Pay your way.</p>
    </div>


    <form class="costs-form" (ngSubmit)="onSubmit()" #costsForm="ngForm">

      <div>
        <div [ngClass]='desktopSize === "tablet" ? "costs-form__mobile-grid-list" : "costs-form__grid-list"' [ngStyle]="{'max-width': mobileSize ? '100%' : '50%'}">
          <div class="costs-form__grid-list__grid-tile" *ngFor="let cost of costs; let i = index">
            <div class="costs-form__form-field" appearance="standard" >
              <label for="cost">
                {{ cost.name }}: <b>{{cost.value | currency: 'USD'}}</b>
                <span class="material-icons"> {{ cost.iconName }} </span>
              </label>
                <input type="number" required (click)="setCostIndex(i);" [ngModel]="cost.value" (ngModelChange)="costsModelChanged.next($event)" name="cost">
            </div>
          </div>
        </div>
      </div>

      <div>
        <section class="info-about-costs-form">
          <button class="costs-form__submit-btn" type="submit">Calculate Total Cost.</button>

          <span class="if-costs-failed" *ngIf="failed">Costs have not been updated. Please remove your response and try again.</span>

          <div class="total-cost" *ngIf="updated">
              Total Cost = {{ totalCost | currency: 'USD' }}
          </div>
        </section>
      </div>

    </form>
  </section>


</main>
