/* Google Fonts for Original Surfer and Petrona */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Petrona&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* The overflow-x: hidden; code messes up the depiction of the figcaption! */
  /* overflow-x: hidden; */
}

/* How much space should be used? */
main {
  width: 100%;
}

figcaption {
  width: 50%;
}

figure {
  width: 50%;
}

figcaption, figure img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}


/* Figcaption to the Left */
figcaption button {
  padding: 5px;

  /* Tropical Brown */
  border: 1px solid #A95012;
  box-sizing: border-box;
}


figcaption h1 {
  font-family: 'Original Surfer', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;

  /* Tropical Dark-Blue */
  color: #063581;
}

figcaption p {
  /* Plan your rendezvous with our help. */
  font-family: 'Petrona', 'serif';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;

  color: #000000;
}

figcaption button span {
  font-family: 'Petrona', 'serif';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height */

  text-align: justify;

  /* Tropical Brown */
  color: #A95012;
}

/* Image */
.cabana-hero-image img {
  max-height: 540px;
  max-width: 540px;

  position: relative;
}
