/* CSS Media Queries do NOT work in Angular */

mat-horizontal-stepper, mat-vertical-stepper {
  color: green;
}

mat-step {
  color: blue;
}

.matStepLabel, .matStepperPrevious, .matStepperNext {
  color: purple;
}
