<!-- Stepper component - https://material.angular.io/components/stepper/overview -->

<mat-horizontal-stepper id="desktop-screen-size" *ngIf="!mobileSize" [linear]="isLinear" #stepper>
  <mat-step id="step-1">
    <form>
      <ng-template matStepLabel>Plan your trip.</ng-template>
      <!-- <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" required>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-2" label="Pay your way.">
    <form>
      <!-- <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-3" label="Pack your bags.">
    <form>
      <!-- <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-4">
    <ng-template matStepLabel>Finished!</ng-template>
    <p>Click on the Travel Destinations tab to get started!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


<mat-vertical-stepper id="mobile-screen" *ngIf="mobileSize" [linear]="isLinear" #stepper>
  <mat-step id="step-1">
    <form>
      <ng-template matStepLabel>Plan your trip.</ng-template>
        <app-destination></app-destination>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-2" label="Pay your way.">
    <form>
      <app-costs></app-costs>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-3" label="Pack your bags.">
    <form>
      <app-checklist></app-checklist>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-4">
    <ng-template matStepLabel>Finished!</ng-template>
    <p>Enjoy your trip!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
