<!-- Stepper component - https://material.angular.io/components/stepper/overview -->

<mat-vertical-stepper id="mobile-screen" *ngIf="mobileSize" [linear]="isLinear" #stepper>
  <mat-step id="step-1">
    <form>
      <ng-template matStepLabel class="matStepLabel">Plan your trip.</ng-template>
        <app-destination></app-destination>
      <div>
        <button mat-button matStepperNext class="matStepperNext">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-2" label="Pay your way.">
    <form>
      <app-costs></app-costs>
      <div>
        <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
        <button mat-button matStepperNext class="matStepperNext">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-3" label="Pack your bags.">
    <form>
      <app-checklist></app-checklist>
      <div>
        <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
        <button mat-button matStepperNext class="matStepperNext">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-4">
    <ng-template matStepLabel class="matStepLabel">Finished!</ng-template>
    <p>Enjoy your trip!</p>
    <div>
      <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
      <button mat-button (click)="stepper.reset()" class="reset-btn">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
