* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* The overflow-x: hidden; code messes up the depiction of the quotes! */
  /* overflow-x: hidden; */
}


/* Stepper CSS Code */
mat-horizontal-stepper, mat-vertical-stepper {
  color: green;
}

mat-step {
  color: blue;
}

.matStepLabel, .matStepperPrevious, .matStepperNext {
  color: purple;
}


/* Hero Section Image */
.cabana-hero-image img {
  /* cover = Good for filling the whole horizontal distance. Use "contain" for card images. */
  object-fit: cover;
  width: 100%;
  height: 400px;
  display: block;
}

.cabana-hero-image figcaption {
  position: absolute;

  /* Half the image's height. */
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;
  padding: 15px;

  border: 2px solid black;
  background-color: rgb(105, 128, 0);
}

.cabana-hero-image figcaption p, figcaption button {
  margin: 7px 5px;
}

figcaption button {
  padding: 5px;
}


/* Home Cards */
article {
  display: flex;
  max-width: 100%;
}

article mat-card {
  max-width: 33.3333%;
}

article img {
  border-radius: 50%;
  max-width: 400px;
}

/* mat-card-header {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
} */


/* Testimonial section */
section, mat-grid-list {
  max-width: 100%;
}

.testimonials figure {
  display: flex;
  flex-direction: column;
}

.testimonials img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.testimonials img, .testimonials figcaption {
  max-width: 50%;
  max-height: 50%;

  position: relative;

  left: 50%;
  transform: translateX(-50%);

  text-align: center;
}

.testimonials figcaption {
  display: flex;
}

/* Testimonial Quote Styling */

.testimonials blockquote {
  font-size: 50px;
  max-height: 100%;
}

.large-quotation-mark {
  font-size: 50px;
}


/* Footer CSS */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "a a a a a"
    "b c d e f"
    "g g g g g"
}

.footer__first-row {
  grid-area: a
}

.footer__second-row__first-section {
  grid-area: b
}

.footer__second-row__second-section {
  grid-area: c
}

.footer__second-row__third-section {
  grid-area: d
}

.footer__second-row__fourth-section {
  grid-area: e
}

.footer__second-row__fifth-section {
  grid-area: f
}

.footer__last-row {
  grid-area: g
}
