<!-- Stepper component - https://material.angular.io/components/stepper/overview -->

<!-- Photo by Julius Silver from Pexels -->
<!-- <img src="assets/images/beach.jpg" alt="Beach picture."/> -->

<!-- Photo by Thorsten technoman from Pexels -->
<!-- <img src="assets/images/cabana.jpg" alt="Cabana picture."/> -->

<!-- Photo by Element5 Digital from Pexels -->
<!-- <img src="vacation-checklist.jpg" alt="Map picture."/> -->


<!-- Photo by Element5 Digital from Pexels -->
<!-- <img src="vacation-checklist.jpg" alt="Travel is good for the soul."/> -->


<!-- Photo by Porapak Apichodilok from Pexels -->
<!-- <img src="hold-the-world.jpg" alt="Holding the globe in your hand."/> -->


<!-- Photo by David Bartus from Pexels -->
<!-- <img src="river-voyage.jpg" alt="1st-person voyage"/> -->


<!-- Photo by Samson Katt from Pexels -->
<!-- <img src="ticket-machine.jpg" alt="Withdrawing vacation funds from a bank."/> -->

<!-- Photo by Thorsten technoman from Pexels -->
<!-- <img src="paris-france.jpg" alt="Paris, France."/> -->

<p>Welcome to Vacation Planner!</p>

<!-- Compass Animaticon -->
<!-- <img src="assets/images/animat-camp/compass/animat-compass-color.gif" alt="Compass Animaticon"/> -->

<!-- Day-Night Animaticon -->
<!-- <img src="assets/images/animat-camp/day-night/animat-day-night-color.gif" alt="Day-Night Animaticon"/> -->

<!-- Road-Trip Animaticon -->
<!-- <img src="assets/images/animat-camp/road-trip/animat-road-trip-color.gif" alt="Road-Trip Animaticon"/> -->

<!-- Sign-Post Animaticon -->
<!-- <img src="assets/images/animat-camp/sign-post/animat-sign-post-color.gif" alt="Sign-Post Animaticon"/> -->

<!-- Tent Animaticon -->
<!-- <img src="assets/images/animat-camp/tent/animat-tent-color.gif" alt="Tent Animaticon"/> -->

<!-- Checkmark Animaticon -->
<!-- <img src="assets/images/animat-essential/checkmark/animat-checkmark-color.gif" alt="Checkmark Animaticon"/> -->

<!-- Image Animaticon -->
<!-- <img src="assets/images/animat-essential/image/animat-image-color.gif" alt="Image Animaticon"/> -->

<!-- Lightbulb Animaticon -->
<!-- <img src="assets/images/animat-essential/lightbulb/animat-lightbulb-color.gif" alt="Lightbulb Animaticon"/> -->

<!-- Pencil Animaticon -->
<!-- <img src="assets/images/animat-essential/pencil/animat-pencil-color.gif" alt="Pencil Animaticon"/> -->

<!-- Rocket Animaticon -->
<!-- <img src="assets/images/animat-essential/rocket/animat-rocket-color.gif" alt="Rocket Animaticon"/> -->

<!-- Search Animaticon -->
<!-- <img src="assets/images/animat-essential/search/animat-search-color.gif" alt="Search Animaticon"/> -->


<mat-vertical-stepper id="mobile-screen" *ngIf="mobileSize" [linear]="isLinear" #stepper>
  <mat-step id="step-1">
    <form>
      <ng-template matStepLabel class="matStepLabel">Plan your trip.</ng-template>
        <app-destination></app-destination>
      <div>
        <button mat-button matStepperNext class="matStepperNext">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-2" label="Pay your way.">
    <form>
      <app-costs></app-costs>
      <div>
        <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
        <button mat-button matStepperNext class="matStepperNext">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-3" label="Pack your bags.">
    <form>
      <app-checklist></app-checklist>
      <div>
        <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
        <button mat-button matStepperNext class="matStepperNext">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="step-4">
    <ng-template matStepLabel class="matStepLabel">Finished!</ng-template>
    <p>Enjoy your trip!</p>
    <div>
      <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
      <button mat-button (click)="stepper.reset()" class="reset-btn">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
