<!-- 1 Accordion if width <= 1000px; -->

<h1>You have 19 more items to pack.</h1>
<h3>Click on the checklist to tally up your belongings.</h3>

<form [ngClass]="{'desktop-centered-checklist-form': mobileSize === false}">

  <div class="accordion-buttons">
    <button (click)="accordion.openAll()">Expand All</button>
    <button (click)="accordion.closeAll()">Collapse All</button>
  </div>

  <mat-accordion multi>
      <mat-expansion-panel *ngFor="let item of items">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img class="accordion-flaticon" src="{{flaticonPath}}/{{item.flaticon}}.svg" alt=""/>
            <!-- <span class="material-icons"> {{ item.iconName }}</span> -->
            <p>{{ item.name }}</p>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <ul>
            <li *ngFor="let subcategory of item.subcategories">
              <mat-checkbox class="subcategory-checkbox">{{ subcategory }}</mat-checkbox>
            </li>
          </ul>
        </section>
      </mat-expansion-panel>

  </mat-accordion>

</form>
