/* Google Fonts for Original Surfer and Petrona & Rubik*/
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Petrona&family=Rubik&display=swap');


.flaticon_mobile {
  width: 100px;
  height: 100px;
}

.flaticon_desktop {
  width: 200px;
  height: 200px;
}


.mobile_vacation_cost {
  /* Costs Mobile Large */

  font-family: 'Petrona', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;

  color: #000000;
}

.desktop_vacation_cost {

  /* Costs MoDal Large */
  font-family: 'Petrona', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;

  color: #000000;
}

.mobile_budget_comparison {
  /* Costs Modal Small Mobile */

  font-family: 'Petrona', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

}

.desktop_budget_comparison {
  /* Costs MoDal Small */

  font-family: 'Petrona', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
}

/* Center Costs-Modal */
img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

h1, h3 {
  text-align: center;
}
